.overflow-container {
  overflow-x: auto; /* Mantiene el scroll horizontal activo */
  overflow-y: hidden; /* Oculta el scroll vertical si aparece */
  -ms-overflow-style: none; /* Oculta el scroll en Edge */
  scrollbar-width: none; /* Oculta el scroll en Firefox */
}

.overflow-container::-webkit-scrollbar {
  display: none; /* Oculta el scroll en Chrome, Safari y Edge */
}
