<!-- Imagen adicional con absolute positioning -->
<div
  class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
  <div class="w-[108rem] flex-none flex justify-end">
    <!--picture>
      <source srcset="/assets/images/media.avif" type="image/avif">
      <img alt="im" src="/assets/images/media.png" class="w-[71.75rem] flex-none max-w-none" decoding="async">
    </picture-->
  </div>
</div>
<header
  class="fixed top-0 left-0 right-0 z-40 flex items-center justify-between px-4 sm:px-6 lg:px-8 py-2 sm:py-3 shadow-lg backdrop-blur-sm border-b border-emerald-green-200"
  [ngClass]="[dynamicClasses, layoutClasses]"
>
  <!-- Logo -->
  <div class="logo">
    <a routerLink="/">
      <img
        src="/assets/images/latinhub.svg"
        alt="Latin Hub Logo"
        class="w-auto"
        [class]="validateHeader(HeaderType.CENTER_HEADER) ? 'h-6 sm:h-5' : 'h-8 sm:h-6'"
      >
    </a>
  </div>
  @if (validateHeader(HeaderType.GENERAL_HEADER) || validateHeader(HeaderType.USER_AUTH_HEADER)) {
    <!-- EJEMPLO: Buscador visible en pantallas grandes -->
    <div class="
    w-[90%]
    sm:w-[70%]
    lg:w-[35%]"
    >
      <app-search></app-search>
    </div>
    <div class="flex items-center gap-4">
      @if (validateHeader(HeaderType.USER_AUTH_HEADER)) {
        <div class="relative">
          <button
            class="relative flex rounded-full bg-sky-blue-50 focus:outline-none focus:ring-2 focus:ring-sky-blue-300"
            [attr.aria-label]="'Open ' + (isMobile ? 'mobile' : 'desktop') + ' menu'"
            (click)="openMenu()"
          >
            <div class="w-10 h-10 rounded-full overflow-hidden flex items-center justify-center">
              @if (userLogger.avatarUrl || userLogger.initials) {
                <app-avatar
                  size="sm"
                  [src]="userLogger.avatarUrl"
                  [initials]="userLogger.initials"
                  alt="Profile">
                </app-avatar>
              } @else {
                <div class="w-8 h-8 rounded-full bg-sky-blue-200 animate-pulse"></div>
              }
            </div>
            <!--img
              [src]="userProfileImage"
              alt="Profile"
              class="w-8 h-8 rounded-full"
            -->
          </button>
        </div>
      } @else if (validateHeader(HeaderType.GENERAL_HEADER)) {
        <!-- Botón de inicio de sesión -->
        <app-button
          variant="outline"
          [fullWidth]="true"
          class="w-[120px] h-[40px] md:inline-block hidden"
          [routerLink]="['/auth']"
          [queryParams]="{ ref: 'header', isRegistering: false }"
        >
          {{ 'menu_header.login_button.title' | translate }}
        </app-button>
        <!-- Botón de unirse -->
        <button
          class="font-semibold h-[40px] text-sm w-[120px] rounded-full px-4 py-2 whitespace-nowrap transition-all hover:scale-105 bg-linear-to-r from-coral-600 to-coral-400 text-white shadow-coral-500/40 shadow-lg hover:shadow-coral-600/50 hover:shadow-lg hover:-translate-y-0.5 md:inline-block hidden"
          [routerLink]="['/auth']"
          [queryParams]="{ ref: 'header', isRegistering: true }"
          (click)="openMenu()"
        >
          {{ 'menu_header.join_now_button.title' | translate }}
        </button>
        <div class="relative">
          <button
            class="flex items-center justify-center rounded-full p-2 bg-emerald-green-50 text-emerald-green-600 focus:ring-2 focus:outline-none transition-colors hover:scale-105"
            [attr.aria-label]="'Open ' + (isMobile ? 'mobile' : 'desktop') + ' menu'"
            (click)="openMenu()"
          >
            <svg
              class="w-6 h-6 transition-colors text-emerald-green-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
      }
    </div>
  }
</header>

<app-header-menu
  [isOpen]="isMenuOpen"
  [headerType]="headerType!"
  [userLogger]="userLogger"
  [hasBusiness]="hasBusiness"
  (closeMenu)="openMenu()"
  (logoutRequested)="logout()"
/>
