.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  background-color: #fff8f8;
  box-shadow: 0 0 5px 0 #999595;
  color: #c51668;
}
