<main class="relative mx-auto">
  <!-- Imágenes de fondo visibles solo en pantallas grandes -->
  <div class="hidden sm:block">
    <!--img
      alt=""
      fetchpriority="high"
      width="2170"
      height="1494"
      decoding="async"
      class="absolute top-[-6.25rem] left-1/2 max-w-none w-[67.8125rem] ml-[-46.875rem] pointer-events-none"
      src="/assets/images/media_bg.jpg"
    /-->
    <!-- Si no quieres ninguna imagen de fondo en móvil,
         simplemente omite el bloque anterior o pon otra imagen si lo deseas -->
  </div>
  <!-- Contenedor central -->
  <div class="container">
    <div class="relative max-w-[1200px] mx-auto sm:text-center">
      @if (isAuthenticated) {
        <div class="text-base sm:text-lg font-semibold mb-4 text-sky-blue-700 bg-gradient-warm rounded-xl px-4 py-2 text-left">
          👋 Hola, {{ userFullName }}!
        </div>
      } @else {
        <div class="text-base sm:text-lg font-semibold mb-4 text-sky-700 bg-gradient-warm rounded-lg px-4 py-2 text-left">
          👋 Hola! Bienvenido 😊
        </div>
      }
      <app-banner bannerType="top"></app-banner>
    </div>
  </div>
  <div class="container">
    <div class="relative max-w-[1200px] mx-auto sm:text-center">
      <!-- Title now comes from the component -->
      <app-offer-slider [sliderTitle]="'Los mas reclamados'"/>

    </div>
  </div>
  @if (!isAuthenticated) {
      <div class="relative max-w-[1200px] mx-auto">
        <app-banner bannerType="mid"></app-banner>
      </div>
  }
  <div class="container">
    <div class="relative max-w-[1200px] mx-auto sm:text-center">
      <!-- Title now comes from the component -->
      <app-offer-slider [sliderTitle]="'Moda'"/>

    </div>
  </div>
  <div class="container">
    <div class="relative max-w-[1200px] mx-auto sm:text-center">
      <!-- Title now comes from the component -->
      <app-offer-slider [sliderTitle]="'Tecnologia'"/>
    </div>
  </div>
  @if (!isAuthenticated) {
      <div class="relative max-w-[1200px] mx-auto">
        <app-banner bannerType="mid"></app-banner>
      </div>
  }
  <div class="container">
      <div class="relative max-w-[1200px] mx-auto">
      <!-- Title now comes from the component -->
      <app-offer-slider [sliderTitle]="'Hogar'"/>
    </div>
  </div>
</main>

