@reference "../../../styles.css";

@media (max-width: 639px) {
  .custom-small-styles {
    @apply m-[7px] mx-[16px];
  }
}
.container {
  @apply p-[22px] pb-[7px];
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.shake-hover:hover {
  animation: shake 0.5s ease-in-out;
}
