<app-header [isSimple]="true"></app-header>
<div class="tw-isolate tw-bg-white tw-px-6">
  <div class="tw-absolute tw-inset-x-0 tw--top-[10rem] tw--z-10 tw-transform-gpu tw-overflow-hidden tw-blur-3xl sm:tw--top-[20rem]" aria-hidden="true">
    <div class="tw-relative tw-left-1/2 tw--z-10 tw-aspect-[1155/678] tw-w-[36.125rem] tw-max-w-none tw--translate-x-1/2 tw-rotate-[30deg] tw-bg-gradient-to-tr tw-from-[#ff80b5] tw-to-[#9089fc] tw-opacity-30 sm:tw-left-[calc(50%-40rem)] sm:tw-w-[72.1875rem]"
         style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>

  <div class="tw-mx-auto tw-mt-16 tw-max-w-md sm:tw-mtcf-10">
    <!-- Título -->
    <div class="tw-text-center">
      <h2 class="tw-text-xl tw-font-semibold tw-text-gray-900">
        {{ isRegistering ? 'Únete y descubre lo mejor de nuestra comunidad' : 'Inicia sesión y conecta con todo lo que tenemos para ti' }}
      </h2>
    </div>
    <!-- Botones sociales -->
    @if(isRegistering){
      <div class="tw-space-y-4 tw-pt-6">
        <button
          class="tw-w-full tw-h-[42px] tw-flex tw-items-center tw-justify-center tw-gap-2 tw-rounded-md tw-border tw-border-gray-300 tw-px-4 tw-py-2 tw-bg-white tw-text-gray-900 hover:tw-bg-gray-50 hover:tw-border-gray-400 focus:tw-ring-2 focus:tw-ring-indigo-600 focus:tw-ring-offset-2"
          aria-label="Continue with Google"
        >
          <svg
            class="tw-w-6 tw-h-6"
            viewBox="0 0 512 512"
            aria-hidden="true"
          >
            <path
              style="fill:#167EE6;"
              d="M492.668,211.489l-208.84-0.01c-9.222,0-16.697,7.474-16.697,16.696v66.715
        c0,9.22,7.475,16.696,16.696,16.696h117.606c-12.878,33.421-36.914,61.41-67.58,79.194L384,477.589
        c80.442-46.523,128-128.152,128-219.53c0-13.011-0.959-22.312-2.877-32.785C507.665,217.317,500.757,211.489,492.668,211.489z"
            />
            <path
              style="fill:#12B347;"
              d="M256,411.826c-57.554,0-107.798-31.446-134.783-77.979l-86.806,50.034
        C78.586,460.443,161.34,512,256,512c46.437,0,90.254-12.503,128-34.292v-0.119l-50.147-86.81
        C310.915,404.083,284.371,411.826,256,411.826z"
            />
            <path
              style="fill:#0F993E;"
              d="M384,477.708v-0.119l-50.147-86.81c-22.938,13.303-49.48,21.047-77.853,21.047V512
        C302.437,512,346.256,499.497,384,477.708z"
            />
            <path
              style="fill:#FFD500;"
              d="M100.174,256c0-28.369,7.742-54.91,21.043-77.847l-86.806-50.034
        C12.502,165.746,0,209.444,0,256s12.502,90.254,34.411,127.881l86.806-50.034C107.916,310.91,100.174,284.369,100.174,256z"
            />
            <path
              style="fill:#FF4B26;"
              d="M256,100.174c37.531,0,72.005,13.336,98.932,35.519c6.643,5.472,16.298,5.077,22.383-1.008
        l47.27-47.27c6.904-6.904,6.412-18.205-0.963-24.603C378.507,23.673,319.807,0,256,0C161.34,0,78.586,51.557,34.411,128.119
        l86.806,50.034C148.202,131.62,198.446,100.174,256,100.174z"
            />
            <path
              style="fill:#D93F21;"
              d="M354.932,135.693c6.643,5.472,16.299,5.077,22.383-1.008l47.27-47.27
        c6.903-6.904,6.411-18.205-0.963-24.603C378.507,23.672,319.807,0,256,0v100.174C293.53,100.174,328.005,113.51,354.932,135.693z"
            />
          </svg>
          <span class="tw-text-sm tw-font-semibold">Sign up with Google</span>
        </button>
      </div>
    } @else {
      <div class="tw-space-y-4 tw-pt-6">
        <button
          class="tw-w-full tw-h-[42px] tw-flex tw-items-center tw-justify-center tw-gap-2 tw-rounded-md tw-border tw-border-gray-300 tw-px-4 tw-py-2 tw-bg-white tw-text-gray-900 hover:tw-bg-gray-50 focus:tw-ring-2 focus:tw-ring-indigo-600 focus:tw-ring-offset-2"
          aria-label="Continue with Google"
        >
          <svg
            class="tw-w-6 tw-h-6"
            viewBox="0 0 512 512"
            aria-hidden="true"
          >
            <path
              style="fill:#167EE6;"
              d="M492.668,211.489l-208.84-0.01c-9.222,0-16.697,7.474-16.697,16.696v66.715
        c0,9.22,7.475,16.696,16.696,16.696h117.606c-12.878,33.421-36.914,61.41-67.58,79.194L384,477.589
        c80.442-46.523,128-128.152,128-219.53c0-13.011-0.959-22.312-2.877-32.785C507.665,217.317,500.757,211.489,492.668,211.489z"
            />
            <path
              style="fill:#12B347;"
              d="M256,411.826c-57.554,0-107.798-31.446-134.783-77.979l-86.806,50.034
        C78.586,460.443,161.34,512,256,512c46.437,0,90.254-12.503,128-34.292v-0.119l-50.147-86.81
        C310.915,404.083,284.371,411.826,256,411.826z"
            />
            <path
              style="fill:#0F993E;"
              d="M384,477.708v-0.119l-50.147-86.81c-22.938,13.303-49.48,21.047-77.853,21.047V512
        C302.437,512,346.256,499.497,384,477.708z"
            />
            <path
              style="fill:#FFD500;"
              d="M100.174,256c0-28.369,7.742-54.91,21.043-77.847l-86.806-50.034
        C12.502,165.746,0,209.444,0,256s12.502,90.254,34.411,127.881l86.806-50.034C107.916,310.91,100.174,284.369,100.174,256z"
            />
            <path
              style="fill:#FF4B26;"
              d="M256,100.174c37.531,0,72.005,13.336,98.932,35.519c6.643,5.472,16.298,5.077,22.383-1.008
        l47.27-47.27c6.904-6.904,6.412-18.205-0.963-24.603C378.507,23.673,319.807,0,256,0C161.34,0,78.586,51.557,34.411,128.119
        l86.806,50.034C148.202,131.62,198.446,100.174,256,100.174z"
            />
            <path
              style="fill:#D93F21;"
              d="M354.932,135.693c6.643,5.472,16.299,5.077,22.383-1.008l47.27-47.27
        c6.903-6.904,6.411-18.205-0.963-24.603C378.507,23.672,319.807,0,256,0v100.174C293.53,100.174,328.005,113.51,354.932,135.693z"
            />
          </svg>
          <span class="tw-text-sm tw-font-semibold">Continue with Google</span>
        </button>
      </div>
    }
    <!-- Divider -->
    <div class="tw-flex tw-items-center tw-space-x-2 tw-mt-4 tw-mb-4">
      <div class="tw-flex-1 tw-border-t tw-border-gray-300"></div>
      <p class="tw-text-sm tw-font-semibold tw-text-gray-500">{{ isRegistering ? 'Or, Create an account with email.' : 'Or, Sign in with email.' }}</p>
      <div class="tw-flex-1 tw-border-t tw-border-gray-300"></div>
    </div>
    @if (isRegistering) {
      <form (submit)="onSubmit()" #registrationForm="ngForm" class="tw-space-y-4">
        <!-- Nombre y Apellido -->
        <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 tw-gap-4">
          <div>
            <label for="first-name" class="tw-sr-only">First name</label>
            <input
              type="text"
              id="first-name"
              name="first-name"
              [(ngModel)]="registerData.firstName"
              (ngModelChange)="validateRegistrationForm()"
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              placeholder="First name"
              required
            />
          </div>
          <div>
            <label for="last-name" class="tw-sr-only">Last name</label>
            <input
              type="text"
              id="last-name"
              name="last-name"
              [(ngModel)]="registerData.lastName"
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              placeholder="Last name"
              (ngModelChange)="validateRegistrationForm()"
              required
            />
          </div>
        </div>
        <!-- Correo Electrónico -->
        <div>
          <div>
            <label for="email" class="tw-sr-only">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="registerData.email"
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              [placeholder]="placeholders['email']"
              (focus)="onFocus('email')"
              (blur)="onBlur('email')"
              (ngModelChange)="validateEmail(); validateRegistrationForm()"
              required
            />
          </div>
          <!-- Error Message -->
          <div *ngIf="!isEmailValid" class="tw-text-red-500 tw-text-sm tw-mt-1">
            Correo Electrónico inválido.
          </div>
        </div>
        <!-- Contraseña -->
        <div>
          <label for="password" class="tw-sr-only">Password</label>
          <div class="tw-relative">
            <input
              #passwordRegInput
              type="password"
              id="password"
              name="password"
              [(ngModel)]="registerData.password"
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              placeholder="Password"
              (ngModelChange)="validatePassword(); validateRegistrationForm()"
              required
            />
            <button
              type="button"
              class="tw-absolute tw-inset-y-0 tw-right-3 tw-flex tw-items-center"
              (click)="togglePasswordVisibility('password', passwordRegInput)"
            >
              @if (!showPassword) {
              <svg
                class="tw-w-6 tw-h-6 tw-text-gray-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              } @else {
                <svg
                  class="tw-w-6 tw-h-6 tw-text-gray-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              }
            </button>
          </div>
          <div *ngIf="!isPasswordValid" class="tw-text-red-500 tw-text-sm tw-mt-1">
            La contraseña debe tener al menos 8 caracteres.
          </div>
        </div>
        <!-- Numero de Telefono -->
        <div>
          <label for="mobile-number" class="tw-sr-only">Mobile Number</label>
          <div class="
          tw-relative
          tw-flex
          tw-w-full
          tw-h-[42px]
          tw-rounded-md
          tw-border
          tw-border-gray-300
          hover:tw-border-gray-400
          focus-within:tw-border-indigo-600
          focus-within:tw-ring-1
          focus-within:tw-ring-indigo-600
          focus-within:hover:tw-border-indigo-600"
          >
            <div class="tw-relative">
              <button
                type="button"
                class="tw-h-full tw-rounded-l-md tw-border-0 tw-bg-transparent tw-pl-3 tw-pr-8 tw-text-gray-900 focus:tw-ring-0 focus:tw-outline-none"
                aria-haspopup="listbox"
                [attr.aria-expanded]="dropdownState.country"
                aria-labelledby="country-label"
                (click)="toggleDropdown('country')"
              >
                <span class="tw-flex tw-items-center tw-gap-3 tw-pr tw-truncate tw-text-gray-400">
                  <img
                    [src]="selectedCountry.flag"
                    [alt]="selectedCountry.name"
                    class="tw-inline tw-h-5 tw-w-5"
                  />
                </span>
                <svg
                  class="tw-absolute tw-right-2 tw-top-1/2 tw--translate-y-1/2 tw-size-5 tw-text-gray-500 sm:tw-size-4"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>

              <!-- Dropdown menu -->
              <ul
                *ngIf="dropdownState.country"
                class="tw-absolute tw-z-10 tw-mt-1 tw-max-h-56 tw-w-max tw-w-full tw-overflow-auto tw-rounded-md tw-bg-white tw-py-1 tw-text-base tw-shadow-lg tw-ring-1 tw-ring-black/5 focus:tw-outline-none sm:tw-text-sm"
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
              >
                <li
                  *ngFor="let country of countries; let i = index"
                  [id]="'listbox-option-' + i"
                  class="tw-relative tw-cursor-pointer tw-select-none tw-py-2 tw-pl-3 tw-pr-3 tw-text-gray-900 hover:tw-bg-indigo-600 hover:tw-text-white"
                  role="option"
                  (click)="selectCountry(country)"
                >
                  <div class="tw-flex tw-items-center">
                    <img
                      [src]="country.flag"
                      [alt]="country.name"
                      class="tw-inline tw-h-5 tw-w-5 tw-mr"
                    />
                    <span class="tw-ml-3 tw-block tw-truncate">{{ country.name }}</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Divider -->
            <div class="tw-w-px tw-h-full tw-bg-gray-300"></div>
            <!-- Phone Input -->
            <input
              type="tel"
              id="mobile-number"
              name="mobile-number"
              [(ngModel)]="registerData.phoneNumber"
              class="tw-block tw-flex-1 tw-border-0  tw-rounded-r-md tw-bg-transparent tw-px-3 tw-text-gray-900 tw-placeholder-gray-400 focus:tw-ring-0 focus:tw-outline-none"
              [placeholder]="placeholders['mobile']"
              (focus)="onFocus('mobile')"
              (blur)="onBlur('mobile')"
              (ngModelChange)="validatePhoneNumber(); validateRegistrationForm()"
            />
          </div>
          <!-- Error Message -->
          <div *ngIf="!isValidPhoneNumber" class="tw-text-red-500 tw-text-sm tw-mt-1">
            Número de teléfono inválido para {{ selectedCountry.name }}.
          </div>
        </div>
        <!-- Fecha de Nacimiento -->
        <div>
          <div class="tw-grid tw-grid-cols-3 sm:tw-grid-cols-3 tw-gap-4">
            <!-- Botón Mes -->
            <div class="tw-relative">
              <button
                type="button"
                class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
                aria-haspopup="listbox"
                [attr.aria-expanded]="dropdownState.month"
                aria-labelledby="month-label"
                (click)="toggleDropdown('month')"
              >
              <span class="tw-flex tw-items-center tw-gap-3 tw-pr-6 tw-truncate"
                    [class]="{
              'tw-text-gray-900': selectedMonth,
              'tw-text-gray-400': !selectedMonth
              }">
                <span class="tw-ml-3 tw-block tw-truncate">{{ selectedMonth || 'Mes' }}</span>
              </span>
                <svg
                  class="tw-absolute tw-right-2 tw-top-1/2 tw--translate-y-1/2 tw-size-5 tw-text-gray-500 sm:tw-size-4"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <ul
                *ngIf="dropdownState.month"
                class="tw-absolute tw-z-10 tw-mt-1 tw-max-h-56 tw-w-full tw-overflow-auto tw-rounded-md tw-bg-white tw-py-1 tw-text-base tw-shadow-lg tw-ring-1 tw-ring-black/5 focus:tw-outline-none sm:tw-text-sm"
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
              >
                <li
                  *ngFor="let month of months"
                  class="tw-relative tw-cursor-pointer tw-select-none tw-py-2 tw-pl-3 tw-pr-3 tw-text-gray-900 hover:tw-bg-indigo-600 hover:tw-text-white"
                  role="option"
                  (click)="selectMonth(month)"
                >
                  <div class="tw-flex tw-items-center">
                    <span class="tw-ml-3 tw-block tw-truncate tw-font-normal">{{ month.name }}</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Input Día -->
            <div>
              <label for="day" class="tw-sr-only">Día</label>
              <input
                type="text"
                id="day"
                name="day"
                [(ngModel)]="registerData.birthDay"
                class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
                [placeholder]="placeholders['day']"
                (focus)="onFocus('day')"
                (blur)="onBlur('day')"
                (ngModelChange)="validateRegistrationForm()"
                required
              />
            </div>

            <!-- Input Año -->
            <div>
              <label for="year" class="tw-sr-only">Año</label>
              <input
                type="text"
                id="year"
                name="year"
                [(ngModel)]="registerData.birthYear"
                class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
                [placeholder]="placeholders['year']"
                (focus)="onFocus('year')"
                (blur)="onBlur('year')"
                (ngModelChange)="validateRegistrationForm()"
                required
              />
            </div>
          </div>
          <!-- Error Message -->
          <div *ngIf="showFullDateError" class="tw-text-red-500 tw-text-sm tw-mt-1">
            Fecha Invalida
          </div>
        </div>
        <!-- Términos y Condiciones -->
        <div class="tw-mt-4 tw-text-xs tw-text-gray-600">
          <p>
            Registrar tu dirección de correo electrónico con nosotros nos permite enviarte ofertas especiales de LatinHub, así
            como noticias sobre productos y servicios. Puedes cambiar tus preferencias de contacto y darte de baja para no recibir
            ofertas en cualquier momento desde la sección "Perfil" o utilizando el enlace para cancelar la suscripción que se
            encuentra al final de nuestros correos electrónicos.
          </p>
          <p class="tw-mt-4">
            Al hacer clic en el botón de abajo, aceptas y confirmas haber leído nuestros
            <a
              routerLink="['/terms-and-conditions']"
              class="tw-font-semibold tw-text-indigo-600 hover:tw-underline">
              Términos y Condiciones
            </a>. Para más detalles sobre cómo usamos la
            información que recopilamos sobre ti, por favor lee nuestra
            <a
              routerLink="['/privacy-policy']"
              class="tw-font-semibold tw-text-indigo-600 hover:tw-underline">
              Política de Privacidad
            </a>.
          </p>
        </div>
        <!-- Botón de Registro -->
        <div>
          <button
            type="submit"type="submit"
            [disabled]="!isRegistrationFormValid"
            [ngClass]="{
              'tw-bg-blue-500 hover:tw-bg-blue-600 tw-shadow-sm tw-shadow-indigo-500/40': isRegistrationFormValid,
              'tw-bg-gray-400 hover:tw-bg-gray-400': !isRegistrationFormValid
            }"
            class="tw-h-[42px] tw-flex tw-items-center tw-justify-center tw-w-full tw-rounded-md tw-bg-blue-500 tw-px-3.5 tw-py-2.5 tw-text-sm tw-font-semibold tw-text-white hover:tw-bg-blue-600 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-indigo-600"
          >
            Create an account
          </button>
        </div>
      </form>
    } @else {
      <!-- Formulario Inicio Sesion-->
      <form (submit)="onSubmit()" #loginForm="ngForm" class="tw-space-y-4">
        <div>
          <div class="tw-mt-1">
            <input
              id="email_login"
              name="email"
              type="email"
              [(ngModel)]="loginData.email"
              required
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              placeholder="Enter your email"
            />
          </div>
        </div>
        <div>
          <div class="tw-mt-1 tw-relative">
            <input
              #passwordLogInput
              id="password_login"
              name="password"
              type="password"
              [(ngModel)]="loginData.password"
              required
              class="tw-block tw-w-full tw-h-[42px] tw-rounded-md tw-bg-white tw-px-3.5 tw-text-gray-900 tw-placeholder-gray-400 tw-text-base tw-border tw-border-gray-300 hover:tw-border-gray-400 focus:tw-border-indigo-600 focus:tw-ring-1 focus:tw-ring-indigo-600 focus:tw-outline-none"
              placeholder="Enter your password"
            />
            <button
              type="button"
              class="tw-absolute tw-inset-y-0 tw-right-3 tw-flex tw-items-center"
              (click)="togglePasswordVisibility('password', passwordLogInput)"
            >
              @if (!showPassword) {
                <svg
                  class="tw-w-6 tw-h-6 tw-text-gray-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              } @else {
                <svg
                  class="tw-w-6 tw-h-6 tw-text-gray-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              }
            </button>
          </div>
        </div>
        <div class="tw-flex tw-justify-end">
          <a href="#" class="tw-text-sm tw-text-indigo-600 hover:tw-underline">Forgot password?</a>
        </div>
        <div class="tw-mt-4 tw-text-center tw-text-xs tw-text-gray-600">
          <p>
            Al iniciar sesión, aceptas los
            <a
              routerLink="['/terms-and-conditions']"
              class="tw-font-semibold tw-text-indigo-600 hover:tw-underline">
              Términos y Condiciones
            </a>
            y la
            <a
              routerLink="['/privacy-policy']"
              class="tw-font-semibold tw-text-indigo-600 hover:tw-underline">
              Política de Privacidad
            </a>
            de Latinhub.
          </p>
        </div>
        <div>
          <button
            type="submit"
            class="tw-h-[42px] tw-flex tw-items-center tw-justify-center tw-w-full tw-rounded-md tw-shadow-indigo-500/40 tw-bg-blue-500 tw-px-3.5 tw-py-2.5 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-blue-600 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-indigo-600"
            [disabled]="!loginForm.form.valid"
          >
            Sign In
          </button>
        </div>
      </form>
    }
    <!-- Enlace para registro -->
    <div class="tw-flex tw-justify-center tw-mt-4 tw-text-sm tw-text-gray-600">
      @if (!isRegistering) { <div class="tw-text-sm tw-font-semibold tw-pb-4">or</div> }
    </div>
    <div class="tw-text-center tw-text-gray-600">
      @if (isRegistering) {
        Already have an account? <a href="#" (click)="toggleForm($event)" class="tw-font-semibold tw-text-indigo-600 hover:tw-underline">Sign In</a>
          } @else {
        <a
          href="#"
          class="tw-h-[42px] tw-block tw-w-full tw-text-center tw-rounded-md tw-border tw-border-gray-300 tw-px-4 tw-py-2 tw-text-sm tw-font-semibold tw-text-gray-900 hover:tw-bg-gray-50 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-indigo-600 focus:tw-ring-offset-2"
          (click)="toggleForm($event)"
        >
          Create an account
        </a>
      }
    </div>
  </div>
</div>
