<div class="tw-relative tw-w-full tw-max-w-[1200px] tw-mx-auto tw-mt-2">
  <!-- Sección de Botones de Descarga -->
  <!-- div class="tw-flex tw-justify-center tw-gap-4 tw-mb-6">
    @for (button of promo?.download_buttons; track button) {
      <a [href]="button.url" target="_blank" rel="noopener noreferrer">
        <img [src]="button.image" [alt]="button.platform" class="tw-w-[135px] tw-h-[40px] tw-transition hover:tw-scale-105">
      </a>
    }
  </div -->
  <!-- Sección de Promociones -->
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-6 tw-w-full">
    @for (promoItem of promo?.promotions; track promoItem) {
      <a [href]="promoItem.url" target="_blank" class="tw-block tw-rounded-lg tw-overflow-hidden tw-shadow-lg hover:tw-shadow-xl tw-transition tw-w-full tw-mx-auto">
        <img [src]="promoItem.image" [alt]="promoItem.title" class="tw-w-full tw-max-w-[589px] tw-rounded-lg tw-shadow-md tw-transition hover:tw-scale-105">
      </a>
    }
  </div>
</div>
