@media (max-width: 639px) {
  .custom-small-styles {
    @apply tw-m-[7px] tw-mx-[16px];
  }
}

.container-center {
  @apply tw-px-[22px] tw-pt-[22px] tw-relative tw-max-w-[1200px] tw-mx-auto sm:tw-text-center;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.shake-hover:hover {
  animation: shake 0.5s ease-in-out;
}
