<div class="marquee-container">
  <div class="marquee-wrapper">
    <div class="marquee-block">
      <div class="marquee-inner">
        <!-- Primera copia -->
        <span class="marquee-content">
          @for (image of images; track image.id) {
            <div class="marquee-item tw-mx-4 tw-items-center tw-justify-center">
              <a [routerLink]="[image.link]">
                <img [src]="image.src" [alt]="image.alt" class="tw-w-auto" />
              </a>
            </div>
          }
      </span>
        <!-- Segunda copia -->
        <span class="marquee-content">
          @for (image of images; track image.id) {
            <div class="marquee-item tw-mx-4 tw-items-center tw-justify-center">
              <a [routerLink]="[image.link]">
                <img [src]="image.src" [alt]="image.alt" class="tw-w-auto" />
              </a>
            </div>
          }
      </span>
      </div>
    </div>
  </div>
</div>
