<!-- Loading state -->
@if (loading$ | async) {
  <app-skeleton variant="custom">
    <div class="skeleton-element skeleton-shimmer skeleton-rounded w-full h-[60px] my-[24px]"></div>
  </app-skeleton>
} @else {
  @if (images.length === 0) {
    <div class="text-center py-10 text-gray-500">
      No hay imágenes disponibles en este momento.
    </div>
  } @else {
    <div class="marquee-container">
      <div class="marquee-wrapper">
        <div class="marquee-block">
          <div class="marquee-inner">
            <!-- Primera copia -->
            <span class="marquee-content">
              @for (image of images; track image.id) {
                <div class="marquee-item mx-4 items-center justify-center">
                  <a [routerLink]="[image.link]">
                    <img [src]="image.src" [alt]="image.alt" class="w-auto" />
                  </a>
                </div>
              }
          </span>
            <!-- Segunda copia -->
            <span class="marquee-content">
              @for (image of images; track image.id) {
                <div class="marquee-item mx-4 items-center justify-center">
                  <a [routerLink]="[image.link]">
                    <img [src]="image.src" [alt]="image.alt" class="w-auto" />
                  </a>
                </div>
              }
          </span>
          </div>
        </div>
      </div>
    </div>
  }
} <!-- end @else -->
