@reference "../../styles.css";

.marquee-container {
  @apply w-full overflow-hidden; /* Contenedor principal ocupa todo el ancho */
}

.marquee-wrapper {
  @apply overflow-hidden w-[1440px] relative; /* Contenedor visible de 1440px */
}

.marquee-block {
  @apply relative h-[60px] box-border my-[24px];
}

.marquee-inner {
  @apply flex whitespace-nowrap relative; /* Elementos alineados en una fila */
  width: 2880px; /* Doble del contenedor visible */
  animation: marquee 45s linear infinite; /* Desplazamiento continuo */
}

.marquee-content {
  @apply flex whitespace-nowrap; /* Cada copia ocupa la mitad */
  width: 1440px;
}
.marquee-content {
  @apply flex items-center justify-center h-[52px];
  /* Ajustar el ancho dinámicamente */
  /*width: calc(var(--logo-px) * 2 * var(--number-of-items));*/
  width: 1440px;
}


.marquee-item {
  @apply items-center justify-center;
  padding: 0.5rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Inicia desde el inicio */
  }
  100% {
    transform: translateX(-1440px); /* Mueve el contenido visible hacia la izquierda */
  }
}

/* Opcional: pausar la animación al hacer hover */
.marquee-wrapper:hover .marquee-block .marquee-inner {
  animation-play-state: paused;
}
